<table>
  <% @pictures.each do |picture| %>
    <tr>
      <td>
        <p><b>投稿者： </b></p>
        <%= image_tag picture.image %><br>
        <%= simple_format(picture.content) %>
      </td>
    </tr>
  <% end %>
</table>
